- datasets.group_by{|i| i[:metadata][:library_id]}.each do |(data_set, values)|
  %div{:class => "panel panel-default"}
    .panel-heading
      %b= 'Read Set ' + data_id(data_set)
      %p
        %small= data_description data_set
    %table{:class => "display score"}
      %thead
        %tr
          %th Maintainer
          %th Assembler Image
          %th Command Bundle
          %th NG50
          %th LG50
          %th \#contigs
          %th
            Percent
            %br
            Unassembled (UN)
          %th
            Incorrect
            %br
            Bases
            %br
            Per 100kb (IB)
          %th
            Local
            %br
            Misassemblies
          %th Misassemblies
          %th CPU Hrs
          %th
            Memory
            %br
            Usage (Gb)
          %th
            CPU secs per
            %br
            assembled Bp
      %tbody
        - values.select{|i| i[:summary_metrics][:ng50]}.each do |value|
          %tr
            %td
              = value.metadata.image.split("/").first
            %td
              %a{href: link_to_assembler(value.metadata.image)}
                = value.metadata.image.split("/").last
            %td= table_value :proc, value
            %td.value= table_value :ng50, value
            %td.value= table_value :lg50, value
            %td.value= table_value :contigs, value
            %td.value= table_value :fraction, value
            %td.value= table_value :incorrect, value
            %td.value= table_value :local_mis, value
            %td.value= table_value :mis, value
            %td.value= table_value :cpu, value
            %td.value= table_value :memory, value
            %td.value= table_value :secs_per_base, value

