- datasets.group_by{|i| i[:metadata][:library_id]}.each do |(data_set, values)|
  %div{:class => "panel panel-default"}
    .panel-heading
      %b= 'Read Set ' + data_id(data_set)
      %p
        %small= data_description data_set
    %table{:class => "table table-condensed tablesorter score"}
      %thead
        %tr
          %th{:class => "text-left col-md-2"}
            Assembler Image
          %th{:class => "text-left col-md-1"}
            Command Bundle
          %th{:class => "text-right col-md-1"}
            NG50
            %span{:class => "glyphicon glyphicon-sort"}
          %th{:class => "text-right col-md-1"}
            LG50
            %span{:class => "glyphicon glyphicon-sort"}
          %th{:class => "text-right col-md-1"}
            \#contigs
            %span{:class => "glyphicon glyphicon-sort"}
          %th{:class => "text-right col-md-1"}
            UN
            %span{:class => "glyphicon glyphicon-sort"}
          %th{:class => "text-right col-md-1"}
            IB
            %span{:class => "glyphicon glyphicon-sort"}
          %th{:class => "text-right col-md-1"}
            Loc. MisAssem
            %span{:class => "glyphicon glyphicon-sort"}
          %th{:class => "text-right col-md-1"}
            MisAssem
            %span{:class => "glyphicon glyphicon-sort"}
          %th{:class => "text-right col-md-1"}
            CPU Hrs
            %span{:class => "glyphicon glyphicon-sort"}
          %th{:class => "text-right col-md-1"}
            Memory Usage (Gb)
            %span{:class => "glyphicon glyphicon-sort"}
      %tbody
        - values.select{|i| i[:summary_metrics][:ng50]}.each do |value|
          %tr
            %td
              %a{href: link_to_assembler(value.metadata.image)}
                = value.metadata.image
            %td= table_value :proc, value
            %td.value= table_value :ng50, value
            %td.value= table_value :lg50, value
            %td.value= table_value :contigs, value
            %td.value= table_value :fraction, value
            %td.value= table_value :incorrect, value
            %td.value= table_value :local_mis, value
            %td.value= table_value :mis, value
            %td.value= table_value :cpu, value
            %td.value= table_value :memory, value

