%table{:class => "coefficient numeric-table"}
  %thead
    %tr
      %th
        = "Maintainer"
      %th
        = "Image"
      %th
        = "Command Bundle"
      - data.scores.names.each do |variable|
        %th.value
          = variable
  %tbody
    - data.scores.variables.each do |maintainer, images|
      - images.each do |image, tasks|
        - tasks.each do |task, scores|
          %tr
            %td
              = maintainer
            %td
              = image
            %td
              = task
            - data.scores.names.each do |name|
              %td
                = scores[name]
