!!! 5
%HTML
  %head
    %title= 'Nucleotides Genome Assembly Evaluation'
  %body
    %header
      %h1= 'Nucleotides Genome Assembly Evaluation'
    - data.results.each do |data_set|
      %h2= data_set.name
      %table
        %tr
          %td= 'tool'
          %td= 'score'
        - data_set.values.last.each do |value|
          %tr
            %td= value.namespace + '/' + value.tool
            %td= value.score
